*{
    box-sizing: border-box;
}
#main{
    width: 1160px;
    height: 500px;
    display: flex;
}
.box{
    width: 200px;
    height: 250px;
    position: relative;
    background-color: green;
    margin: 80px 20px;
}
.box:hover{
    bottom: 5px;
}